.account_inner {
  .account {
    img {
      display: block;
      width: 42px;
      height: 42px;
      border-radius: 50%;
    }
  }

  .account_modal {
    display: none; // Default hidden
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(50%, -10px);
    z-index: 10;
    opacity: 0;

    transition:
      opacity 0.3s ease,
      transform 0.3s ease;
  }
  // Show dropdown on hover with animation
  &:hover .account_modal {
    display: block; // Set display to block
    animation: fadeIn 0.3s ease forwards;
  }

  // Keyframes for animation
  @keyframes fadeIn {
    0% {
      opacity: 1;
      transform: translateY(-10px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
}
