.product_description {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  flex: 1;

  .da {
    font-size: 14px;
  }

  .product_description_more {
    display: flex;
    max-width: 60%;
    justify-content: space-between;
    color: var(--text-span-color);
    font-size: 12px;
    padding: 1rem 0;
    .delivered_by {
      font-weight: 500;
    }
  }

  .delivered_in {
    font-size: 12px;
    color: rgb(4, 231, 4);
    padding-block: 1rem;
  }
}
