.isChecked {
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 0.5rem;
  padding: 0.25rem 0.5rem;
  &::before {
    gap: 10px;
    content: '\F26D';
    font-family: 'Bootstrap-icons';
  }
}

.isDefault {
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 0.5rem;
  padding: 0.25rem 0.5rem;
  &::before {
    content: '\F584';
    font-family: 'Bootstrap-icons';
  }
}
