.notifications_container_outer {
  display: block;
  padding: 1rem;
  background: var(--container-bg-between);
  border-radius: 12px;

  .title {
    font-size: 22px;
    padding-bottom: 0.5rem;
  }

  .notification_container_inner {
    display: flex;
    flex-direction: column;
    gap: 0.6rem;
    padding-right: 8px;
    max-height: 440px;
    overflow-y: scroll;
  }
}
