.products_main {
  display: grid;
  grid-template-areas:
    'sidebar header'
    'sidebar products';
  grid-template-columns: minmax(250px, 320px) 1fr; /* Sidebar between 250px and 320px */
  padding: 0 10px;

  .product_side_bar {
    grid-area: sidebar;
    display: block;
  }
  .product_header {
    display: block;
    grid-area: header;
    min-width: 100%;
  }

  .products {
    grid-area: products;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    gap: 8px;
  }
}
