// styles/RestrictedProducts.module.scss
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
}

.productList {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(140px, 1fr));
  gap: 4px;
  width: 100%;
}

.product {
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 8px;
  //   padding: 16px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
  transition: transform 0.3s ease;
  position: relative;
  padding-top: 1.75rem;

  &:hover {
    transform: translateY(-5px);
  }
}

.category {
  display: block;
  background-color: #ffcccc;
  border: 1px solid;
  border-color: #ff0000;
  position: absolute;
  top: -20px;
  padding: 0.5rem;
  border-radius: 12px;
  left: 50%;
  transform: translate(-50%);
  color: var(--text-container-color);

  &::after {
    position: relative;
    height: 5px;
  }
}

.productName {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 8px;
}

.restricted {
  background-color: #ffcccc;
  border-color: #ff0000;
}

.restricted .productName {
  color: #ff0000;
}

.productPrice {
  font-size: 1rem;
  margin-top: 8px;
}
